<section>
    <h1>Finishing up</h1>
    <p>Double-check everything looks OK before confirming.</p>
    <div>
        <div>
            <div>
                <div>
                    <p></p>
                <p></p>
                </div>
                <span></span>
            </div>
            <div>
                <div>
                    <p></p>
                <p></p>
                </div>
                <span></span>
            </div>
        </div>
        <div>
            <span></span>
            <span></span>
        </div>
    </div>
    <div>
        <button>Go Back</button>
        <button>Next Step</button>
    </div>
</section>