<section>
    <h1>Finishing up</h1>
    <p>Double-check everything looks OK before confirming.</p>
    <div >
        <div class="eleccion">
            <div class="infoplan">
                <div>
                    <p>{{this.dataAll.getPlanSelected()+' ('+this.dataAll.getyearOrmonth()+'ly)'}}</p>
                    <p id="change" (click)="router_.navigate(['plan'])">Change</p>
                </div>
                <span>{{this.dataAll.getTipoPlan()}}</span>
            </div>
            <div class="addons">  
                <div *ngFor="let data of dataAll.getTipoAddons()">
                    <span class="name">{{data.name}}</span>
                    <span class="valor">{{data.valor}}</span>
                </div>
            </div>
        </div>
        <div>
            <span></span>
            <span></span>
        </div>
    </div>
    <div>
        <button (click)="back()">Go Back</button>
        <button (click)="confirm()">Confirm</button>
    </div>
</section>