<div class="content">
  <header>
    <ul>
      <li>
        <div class="navNum" id="nav1">1</div>
        <div class="navInfo">
          <p class="step">STEP 1</p>
          <p class="txtNav">YUOR INFO</p>
        </div>
      </li>
      <li>
        <div class="navNum" id="nav2">2</div>
        <div class="navInfo">
          <p class="step">STEP 2</p>
          <p class="txtNav">SELECT PLAN</p>
        </div>
      </li>
      <li>
        <div class="navNum" id="nav3">3</div>
        <div class="navInfo">
          <p class="step">STEP 3</p>
          <p class="txtNav">ADD-ONS</p>
        </div>
      </li>
      <li>
        <div class="navNum" id="nav4">4</div>
        <div class="navInfo">
          <p class="step">STEP 4</p>
          <p class="txtNav">SUMMARY</p>
        </div>
      </li>
    </ul>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>