<section>
    <h1>Pick add-ons</h1>
    <p>Add-ons help enhance your gaming experience.</p>
    <div>
        <div [ngStyle]="{'border':border1}" (click)="checkOnlineService(false)" class="eleccion">
            <div [ngStyle]="{'background-color':check1}" class="divcheck">
                <img src="../../assets/images/icon-checkmark.svg" alt="  ">
            </div>
            <div>
                <p class="title">Online Service</p>
                <p class="txt">Access to multiplayer games</p>

            </div>
            <span class="plus">{{onlineserviceTXT}}</span>
        </div>
        <div [ngStyle]="{'border':border2}" (click)="checkLargeStorage(false)" class="eleccion">
            <div [ngStyle]="{'background-color':check2}" class="divcheck">
                <img src="../../assets/images/icon-checkmark.svg" alt="  ">
            </div>
            <div>
                <p class="title">Larger storage</p>
                <p class="txt">Extra 1TB of cloud save</p>

            </div>
            <span class="plus">{{largestorageTXT}}</span>
        </div>
        <div [ngStyle]="{'border':border3}" (click)="checkCustomizableProfile(false)" class="eleccion">
            <div [ngStyle]="{'background-color':check3}" class="divcheck">
                <img src="../../assets/images/icon-checkmark.svg" alt="  ">
            </div>
            <div>
                <p class="title">Customizable profile</p>
                <p class="txt">Custom theme on your profile</p>

            </div>
            <span class="plus">{{customizableperfilTXT}}</span>
        </div>
    </div>

    <div class="boton">
        <div class="back" (click)="back()">Go Back</div>
        <div (click)="next()">Next Step</div>
    </div>
</section>