<section>
    <h1>Pick add-ons</h1>
    <p>Add-ons help enhance your gaming experience.</p>
    <div>
        <div>
            <div>
                <img src="" alt="check">
            </div>
            <div>
                <p>Online Service</p>
                <p>Access to multiplayer games</p>

            </div>
            <span>+$1/mo</span>
        </div>
        <div>
            <div>
                <img src="" alt="check">
            </div>
            <div>
                <p>Larger storage</p>
                <p>Extra 1TB of cloud save</p>

            </div>
            <span>+$2/mo</span>
        </div>
        <div>
            <div>
                <img src="" alt="check">
            </div>
            <div>
                <p>Customizable profile</p>
                <p>Custom theme on your profile</p>

            </div>
            <span>+$2/mo</span>
        </div>
    </div>

    <div>
        <button>Go Back</button>
        <button>Next Step</button>
    </div>
</section>